@import '/src/index.scss';
@import '/src/styles/mixins/mixins.scss';

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
        margin: 1rem;
        flex-direction: column;

        h1 {
            align-items: start;
            color: $primary-color;
            margin: 0;
            display: flex;
            font-size: 24px;
        }

        h2 {
            margin: 0;
            display: flex;
            font-size: 20px;
        }

        @include for-size(large) {
            height: 75vh;
            margin: 0;

            h1 {
                margin: 0;
                font-size: 68px;
            }

            h2 {
                font-size: 40px;
            }

        }

        @include for-size(medium) {
            height: 55vh;
            margin: 0;

            h1 {
                font-size: 45px;
            }

            h2 {
                font-size: 55px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .git_section {
            display: none;
            width: 100%;

        }

        .description_section {
            display: flex;
            width: 100%;
            height: 100%;
        }

        @include for-size(medium) {
            flex-direction: row;
            height: 100%;
            justify-content: space-between;
            display: flex;

            .git_section {
                display: flex;
                width: 100%;
            }
        }
    }

}

.technologyContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;

    .technologyContent {
        display: flex;
        flex: 1 1 25%;

        .technology-section-container {
            display: flex;
            width: 100%;
            border-radius: 100px;
            margin: 4px;
            border-radius: 15px;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            padding: 2px;

            &:hover {
                background: $gradient-color;

                .technology-figure-modal {
                    .technology-image-modal {
                        filter: sepia(0%) hue-rotate(10deg) saturate(100%) !important;
                    }
                }
            }

            .technology-section-card {
                display: flex;
                border-radius: 15px;
                background: $secondary-background-color;
                color: $font-color;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;
                height: 100%;

                .technology-article-card {
                    width: 99%;
                    height: 97%;
                    display: flex;
                    flex-direction: column;
                    flex-direction: row;

                    .technology-figure-modal {
                        margin: 0;
                        width: 30%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        max-height: 20rem;
                        max-width: 20rem;
                        margin: 0 0.5rem;

                        .technology-image-modal {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            filter: sepia(90%) hue-rotate(170deg) saturate(90%);
                            transition: filter 0.01s ease-in-out;
                        }
                    }


                    .technology-description {
                        display: flex;
                        flex-direction: column;
                        height: 90%;
                        width: 70%;
                        justify-content: space-between;

                        margin: 1rem 2rem;


                        h2 {
                            margin-bottom: 0.5rem;
                            font-size: 1.2rem;
                        }

                        p {
                            font-size: 0.9rem;
                            color: $font-secondary-color;
                        }

                        * {
                            margin: 0;
                        }
                    }
                }

                .technology-card-footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0.1rem 2rem 0.3rem 2rem;
                }
            }

            hr {
                border: none;
                height: 2px;
                background-image: $gradient-color;
                margin: 2px 1rem;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            }



        }
    }
}