@import '/src/index.scss';
@import '/src/styles/mixins/mixins.scss';

.profile {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0rem 1rem;


    @include for-size(large) {
        margin-left: 10%;
    }

    .button {

        display: flex;
        min-height: 65px;
        max-height: 75px;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            font-weight: bold;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            min-width: 100%;
            height: 80%;
            background: $gradient-color;
            border-radius: 7px;
            font-size: 31px;
        }
    }

    .description {
        display: flex;

        p {
            font-size: 21px;
        }
    }

    .technologies {
        margin-bottom: 1rem;
        width: 60%;
        min-width: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .technologies_content {
            display: flex;
            flex-direction: row;
            align-items: center;

            .imageGridSection {
                display: flex;
                width: 55%;
                height: 1rem;
                min-height: 6rem;


            }

            .technologyDescription {
                margin: 0rem 0.5rem;

            }

        }

    }
}