@import '/src/index.scss';
@import '/src/styles/mixins/mixins.scss';

.profile {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0rem 1rem;


    @include for-size(large) {
        margin-left: 10%;
    }

    .button {

        display: flex;
        min-height: 65px;
        max-height: 75px;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            font-weight: bold;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            min-width: 100%;
            height: 80%;
            background: $gradient-color;
            border-radius: 7px;
            font-size: 31px;
        }
    }

    .description {
        display: flex;

        p {
            font-size: 21px;
        }
    }

    .technologies {
        margin-bottom: 1rem;
        width: 60%;
        min-width: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .technologies_content {
            display: flex;
            flex-direction: row;
            align-items: center;

            .imageGridSection {
                display: flex;
                width: 55%;
                height: 1rem;
                min-height: 6rem;


            }

            .technologyDescription {
                margin: 0rem 0.5rem;

            }

        }

        .technologies_section_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            .technology-section-container {
                display: flex;

                // box-shadow:  8px 8px 9px 1px black;
                // box-shadow:  -2px -2px 3px 1px $font-secondary-color ;
                flex-direction: row;
                border-radius: 100px;
                max-height: 20rem;
                min-height: 15rem;
                max-width: 48%;
                flex: 1 1 50%;
                margin: 4px;
                border-radius: 15px;
                overflow: hidden;
                justify-content: center;
                align-items: center;

                & {
                    transition: background 0.8s ease, transform 0.2s ease;
                    // background: $background-color;

                    .technology-section-card {
                        .technology-article-card {
                            .technology-figure-modal {
                                .technology-image-modal {
                                    filter: invert(98%) sepia(3%) saturate(567%) hue-rotate(236deg) brightness(119%) contrast(100%);
                                }
                            }
                        }
                    }
                }

                &:hover {
                    transform: scale(1.005);
                    opacity: 1;
                    background: $gradient-color;
                }


                hr {
                    border: none;
                    height: 2px;
                    background-image: $gradient-color;
                    margin: 2px 1rem;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

                }

                .technology-section-card {
                    display: flex;
                    border-radius: 15px;
                    background: $secondary-background-color;
                    color: $font-color;
                    flex-direction: column;
                    justify-content: center;
                    width: 99%;
                    height: 97%;

                    .technology-article-card {
                        width: 99%;
                        height: 97%;
                        display: flex;
                        flex-direction: column;
                        flex-direction: row;
                        margin: 1rem;

                        .technology-figure-modal {
                            margin: 0;
                            width: 30%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            max-height: 20rem;
                            max-width: 20rem;
                            margin: 0 0.5rem;


                            .technology-image-modal {
                                filter: invert(86%) sepia(4%) saturate(20%) hue-rotate(64deg) brightness(82%) contrast(90%);
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }


                        .technology-description {
                            display: flex;
                            flex-direction: column;
                            // height: 90%;
                            width: 70%;
                            justify-content: space-between;
                            margin: 0rem 2rem;


                            h2 {
                                margin-bottom: 0.5rem;
                                font-size: 1.2rem;
                            }

                            p {
                                font-size: 0.9rem;
                                color: $font-secondary-color;
                            }

                            * {
                                margin: 0;
                            }
                        }
                    }

                    .technology-card-footer {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 0.3rem 2rem 0.3rem 2rem;
                    }
                }

            }
        }

    }
}