@import '/src/index.scss';
@import '/src/styles/mixins/mixins.scss';

header {
    display: none;

    @include for-size(medium) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 5rem;
    }
}