@import '/src/index.scss';
@import '/src/styles/mixins/mixins.scss';

.technologiesCard {
    display: flex;
    flex-direction: column;
    // margin: 10%;
    background-color: $background-secondary-color;
    color: black;
    // max-height: 18vh;
    // min-height: 10vh;
    min-width: 100%;
    max-width: 30rem;
    padding: 1vh 2vw;
    border-radius: 7px;


    .header {
        display: flex;
        min-height: 1rem;
        height: 30%;
        // background-color: blue;
        flex-direction: row;
        justify-content: left;

        .icon {
            margin: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba($background-color, 0.2);
            height: 4vw;
            width: 4vw;
            border-radius: 100%;
            overflow: hidden;

            .image {
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

}