@import '/src/index.scss';
@import '/src/styles/mixins/mixins.scss';

.containerImageGrid {
    width: 50%;
    display: flex;
    flex-direction: row;
    position: relative; // Agrega posición relativa aquí
    // margin: 20px;
    // Genera clases para cada imagen (asumiendo un máximo de 20 imágenes)
    @for $i from 1 through 5 {
        .technologyFigure--#{$i} {
            top: 0;
            position: absolute;
            z-index: $i;
            margin-left: 4vh * $i;
        }
    }

    .technologyFigure {
        background: $background-darken-secondary-color;
        display: flex;
        height: 10vh;
        width: 10vh;
        border-radius: 50%;
        max-width: 6vh;
        max-height: 6vh;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        .technologyImage {
            width: 90%;
            height: 90%;
            object-fit: cover;
        }
    }
}