@import '/src/index.scss';
@import '/src/styles/mixins/mixins.scss';

.switchSection {
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    width: 15vw;
    justify-content: space-between;
    align-items: center;

    .switch {
        width: 60px;
        height: 35px;
        background: $gradient-color;
        border-radius: 7px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s;
        align-items: center;

        &.checked {
            background: $gradient-color;
        }

        // transition: background 0.3s;
        .switch-handle {
            border-radius: 7px;
            position: absolute;
            width: 48%;
            height: 90%;
            background: white;
            top: 2px;
            left: 2.5px;
            transition: left 0.3s;
        }

        &.checked .switch-handle {
            // when newSwitch has checked attribute select switch-handle
            left: 28px;
        }
    }
}