.App {
    display: flex;
    flex-direction: column;
    // height: 100vh;
    .MainPage {
                // background-color: white;
        display: flex;
        flex-direction: column;
        height: 90%;
    }
}